@bsbase: "../../../../../../../../../libs/bower/bower_components/bootstrap/less/";
@appbase: "../../../../../../../../../templates/default/less/";

@import "@{bsbase}variables.less";
@import "@{appbase}variables.less";

.proctorio-settings-deck .row {
  margin-left: 0;
  margin-right: 0;

  > div {
    padding-left: @padding-xs-horizontal;
    padding-right: @padding-xs-horizontal;
    margin-bottom: @padding-large-vertical;
  }

  &.row-equal-height {
    &:before {
      content: none !important;
    }

    &:after {
      content: none !important;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .row-equal-height {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    > div {
      display: flex;
    }
  }
}

.proctorio-settings-card {
  padding: 0;
  width: 100%;
  
  &:hover {
    cursor: pointer;
  }

  &.disabled {
    cursor: default;
  }

  background-color: @il-primary-container-bg;
  &.disabled {
    background: repeating-linear-gradient(
            45deg,
            @il-primary-container-bg,
            fade(@il-primary-container-bg, 20%) 10px,
            fade(@il-primary-container-bg,50%) 10px,
            fade(@il-primary-container-bg, 80%) 20px
    );
  }

  &.active {
    background-color: @alert-success-bg;
    &.disabled {
      background: repeating-linear-gradient(
              45deg,
              @alert-success-bg,
              fade(@alert-success-bg, 20%) 10px,
              fade(@alert-success-bg, 50%) 10px,
              fade(@alert-success-bg, 80%) 20px
      );
    }
  }

  &.thumbnail {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    > img {
      height: 100%;
      width: auto;
      max-height: 48px;
    }
  }

  .caption {
    .card-title {
      overflow-wrap: break-word;
      text-align: center;
    }

    &:nth-of-type(1n+3) {
      border-top: 1px solid @panel-inner-border;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .row-equal-height {
    .proctorio-settings-card {
      display: flex;
      flex-direction: column;

      :nth-child(4) {
        flex-grow: 2;
      }
    }
  }
}